/* common.css */
.board-list {
    width: 768px;
    margin: auto;
}

.board-detail {
    width: 768px;
    margin: auto;
    text-align: left;
}

.board-contents {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.common-buttons {
    padding: 8px;
    text-align: right;
}

/* .p-datatable-column-title {
    margin-left: 10px;
    text-align: center;
} */

.p-datatable-column-header-content {
    justify-content: center;
}

.p-datatable-tbody > tr > td[role="cell"] {
    text-align: center;
}